body {
	padding-top: 50px;
    font-family: 'Josefin Sans', sans-serif;
	margin: 0;
	background-color: white;
	padding: 80px;
}

/* Style header */
header {
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 1em;
}

nav {
	z-index: 1000; 
}

header nav ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

header nav ul li {
	margin-right: 1em;
}

header nav ul li a {
	color: black;
	text-decoration: none;
	padding: 0.5em;
	border-radius: 5px;
}

header nav ul li a:hover {
	background-color: #fadeca;
}

header nav ul li.active a {
	background-color: #c29578;
}

/* Style logo */
#logo {
    height: 70px;
	width: auto; 
}


h1 {
	color: black;
	display: none;
}

h2 {
	color: black;
	font-weight: normal;
	font-size: x-large;
	padding-bottom: 30px;
}

h3 {
	font-weight: normal;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
}
  
.grid-item {
	text-align: left;
	position: relative;
}
  
.grid-item img {
	width: 100%;
}

/* accessibility */
@media (prefers-reduced-motion: reduce) {
	video {
	  animation-play-state: paused;
	}
	
	.gif-1 {
		animation-play-state: paused;
	}
	
	.gif-1:hover {
		background-image: url('Simple.png');
		background-size: cover;
	}
	
	.gif-2 {
		animation-play-state: paused;
	}
	
	.gif-2:hover {
		background-image: url('Trisense.png');
		background-size: cover;
	}
	
	.typewriter {
		animation: none;
	}
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* footer*/
footer {
    text-align: center;
    padding: 20px;
	background-color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons {
    display: flex;
}

.social-icons a {
    margin: 0 10px;
	height: 20px;
}




.image-container {
	position: relative;
}
  
.image-container .thumbnail {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0;
	transition: opacity 0.3s; 
}
  
.image-container:hover .thumbnail {
	opacity: 1;
}


#typewriter-1 {
	display: block;
	font-size: 2.5em;
	font-weight: 700;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
}

.section {
	margin-bottom: 30px;
	padding-left: 300px;
	padding-right: 300px;
}


.name {
	max-width: 100%;
	overflow-x: hidden;
}

/* mobile - doesn't work for index*/
@media screen and (max-width: 430px) {
	h1 {
		font-size: 1.5em;
	}
	body {
		padding: 40px;
	}

	h2 {
		font-size: 1.5em;
	}

	.grid-container {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 10px;
	}

	#logo {
		height: 30px;
		width: auto;
	}

	header {
		padding: 0.5em;
	}

	nav {
		font-size: 0.5em;
	}

	footer {
		font-size: 0.75em;
		text-align: left;
	}
  }